/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

@media (max-width: 575px) {
    a.navbar-brand {
        font-size: 1em;
    }

    a.nav-link, footer {
        font-size: 0.75em;
    }
}

@media (min-width: 576px) {
    a.navbar-brand {
        font-size: 0.9em;
    }

    a.nav-link, footer {
        font-size: 0.6em;
    }
}

@media (min-width: 768px) {
    a.navbar-brand {
        font-size: 1em;
    }

    a.nav-link, footer {
        font-size: 0.75em;
    }
}

@media (min-width: 992px) {
    a.navbar-brand {
        font-size: 1.75em;
    }

    a.nav-link, footer {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    a.navbar-brand {
        font-size: 2em;
    }

    a.nav-link, footer {
        font-size: 1.2em;
    }
}

@media (min-width: 1600px) {
    a.navbar-brand {
        font-size: 2.1em;
    }

    a.nav-link, footer {
        font-size: 1.5em;
    }
}