@if (string.Equals(ViewData["archived"], "true"))
{
    <a class="btn btn-block btn-lg btn-outline-info mb-2" href="/Posts/Tracked?archived=false">Hide Archived</a>
}
else
{
    <a class="btn btn-block btn-lg btn-warning mb-2" href="/Posts/Tracked?archived=true">Show Archived</a>
}

<div id="archived" style="display: none">@ViewData["archived"]</div>

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Uploaded</th>
            <th>Link</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="importantPosts"></tbody>
</table>

<div id="empty" style="display: none">
    Nothing tracked at the moment.
</div>

@section Scripts{
    <script src="~/js/posts.js"></script>
}