
<table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th>Uploaded Date & time</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody id="importantPosts">
    
    </tbody>
</table>


@section Scripts{ 
    <script src="~/js/posts.js"></script>
}