@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1 align-content-center">Who are you looking for?</h1>

<form id="faceForm" enctype="multipart/form-data">
    <div class="polaroid" id="form-header">
        <div id="form-header-content">
            <input id="faceFile" name="face" type="file" hidden />
            <label for="faceFile"><ion-icon name="cloud-upload"></ion-icon><span id="faceFileLabel">Choose a file...</span></label>
        </div>
    </div>
    <div class="polaroid-container">
        <input class="btn btn-outline-success btn-lg" id="submitBtn" type="submit" value="Find them!" />
    </div>
</form>


@section Scripts{
    <script src="/js/faces.js"></script>
}