@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1 align-content-center">Who are you looking for?</h1>

<form id="faceForm" enctype="multipart/form-data">
    <div class="polaroid" id="form-header">
        <div id="form-header-content">
            <input id="faceFile" name="face" type="file" hidden />
            <label for="faceFile"><ion-icon name="cloud-upload"></ion-icon><span id="faceFileLabel">Choose a file...</span></label>
        </div>
    </div>
    <div class="polaroid-container">
        <input class="btn btn-outline-success btn-lg" id="submitBtn" type="submit" value="Find them!" />
    </div>
</form>

<button id="toggleResult" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" hidden="true">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="banner">
                    <h3 class="display-3">Processing...</h3>
                    <div class="lds-roller">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div id="nothingFound">
                    <h3 class="display-3">Sorry, no face found!</h3>
                </div>
                <div id="moreThanOne" hidden>
                    <h3 class="display-3">You'd better read the instruction manual! More than one face found!</h3>
                </div>
                <div id="successResult">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Posts</th>
                        </tr>
                        </thead>
                        <tbody id="posts">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/js/faces.js"></script>
}