@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1 align-content-center">Who are you looking for?</h1>

<div class="row justify-content-center" id="form">
    <form id="faceForm" enctype="multipart/form-data">
        <div class="row" id="uploader">
            <input id="faceFile" name="face" type="file" multiple hidden />
            <label for="faceFile"><ion-icon name="cloud-upload"></ion-icon><span id="faceFileLabel">Choose files</span></label>
        </div>
        <div class="row polaroid-container">
            <input class="btn btn-outline-success btn-lg" id="submitBtn" type="submit" value="Find them!" />
        </div>
    </form>
</div>


@section Scripts{
    <script src="/js/faces.js"></script>
}