@{
    ViewData["Title"] = "Home Page";
}

<form id="faceForm" enctype="multipart/form-data" >
    <input id="faceFile" name="face" type="file" multiple/>
    <input id="submitBtn" type="submit"/>
</form>

@section Scripts{ 
    <script src="/js/faces.js"></script>
}